<header class="card text-white mb-3 title-header">
  <div class="card-header">
    <h1>Bill Tracking Application</h1>
  </div>
  <div class="card-body">
    <h4 class="card-title">Instructions</h4>
    <p>Track specific state legislation using the <a href="https://legiscan.com/legiscan" target="_blank">Legiscan API</a></p>
    <p><a routerLink="/register">Create an account</a> or <a routerLink="/login">log in</a> to search and track legislation</p>
    <p>Unique Bill IDs are available through API requests for each state, but here are a few sample numbers to try out:<br> 1057177, 1112900, 968893</p>
  </div>
</header>
