<header class="card text-white mb-3 title-header">
  <div class="card-header">
    <h1>Bill Tracking Application</h1>
  </div>
  <div class="card-body">
    <h4 class="card-title">Instructions</h4>
    <p><a routerLink="/submit">Search</a> and track state legislation using the <a href="https://legiscan.com/legiscan" target="_blank">Legiscan API</a> with unique bill ID numbers.</p> 
    <p><a routerLink="/register">Create an account</a> or <a routerLink="/login">log in</a> to track specific legislation. Unique bill IDs for the search are available through API requests for each state</p>
  </div>
</header>
