<!-- <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/bill-data-list" routerLinkActive="active">Bill View</a>
    <a routerLink="/submit" routerLinkActive="active">Search For Bills</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a href="#" *ngIf="_isLoggedIn" (click)="logOut($event)">Log Out</a>
    <a *ngIf="!_isLoggedIn" routerLink="/login" routerLinkActive="active">Log In</a>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/bill-data-list" routerLinkActive="active">Bill View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/submit" routerLinkActive="active">Bill Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" *ngIf="_isLoggedIn" (click)="logOut($event)">Log Out</a>
                <a class="nav-link" *ngIf="!_isLoggedIn" routerLink="/login" routerLinkActive="active">Log In</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="card text-white bg-info mb-3 title-header">
      <div class="card-header"><h1>Bill Tracking Application</h1></div>
      <div class="card-body">
        <h4 class="card-title">Instructions</h4>
        <p class="intro">An app for tracking specific state legislation using the <a href="https://legiscan.com/legiscan" target="_blank">Legiscan API</a></p>
        <p><a routerLink="/register">Create an account</a> or <a routerLink="/login">log in</a> to search and track legislation</p>
        <p>The bill IDs are available through a request for each state, but here are a few sample numbers to try out: 1057177, 1112900, 968893.</p>
        <p *ngIf="_isLoggedIn">Currently logged in as <b>{{currentUser.email}}</b></p>
      </div>
    </div>