

<h2>Tracked Legislation Database View</h2>
<p *ngIf="!_isLoggedIn" class="notification">
    <a routerLink="/login">Log in</a> to view tracked legislation from a database</p>
<p class="notify" *ngIf="_isLoggedIn">Currently logged in as 
    <b>{{currentUser.email}}</b></p>
<div class="container">


<div *ngIf="_isLoggedIn">
    <div *ngFor="let bill of databaseBillData | async">

      <div *ngIf="currentUser.id === bill.userId" class="card">
          <div class="card-body">
                <h4 class="card-title">{{bill.state}} 
                    <a href="{{bill.leg_url}}" target="_blank">{{bill.bill_number}}</a> 
                    | ID: {{bill.id}}
                </h4>
                <hr>
                <p><b>Description</b><br>{{bill.description}}</p>
                <p><b>State:</b> {{bill.state}}</p>
                <p class="card-text"><b>Category:</b> {{bill.category | titlecase}}</p>
                <!-- <p><b>Bill ID:</b> </p> -->
                <div class="action-container">
                <p *ngIf="!bill.edit" class="card-text"><b>Last Action:</b> {{bill.lastAction.date}} 
                    - {{bill.lastAction.action}}</p> <button *ngIf="!bill.edit" class="btn edit-btn" (click)="toggleEditMode(bill)">Edit Action</button>
                    <div *ngIf="bill.edit" class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Edit Action</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url">
                        <button class="btn edit-btn" (click)="toggleEditMode(bill)">Cancel Edit</button>
                        <button class="btn edit-btn" (click)="saveEditedAction(bill.uniqueId, bill)">Save</button>
                    </div>
                </div>
                <p class="card-text"><b><u>Action History</u></b></p>
                    <div *ngFor="let item of bill.history">
                        <p class="card-text"><b>{{item.date}}</b> - {{item.action}}</p>
                    </div>
                <!-- <p><b>Up-To-Date:</b> {{bill.isUpToDate}}</p> -->
                <p *ngIf="!bill.isUpToDate" class="card-text outdated">Update Available!</p>
                <!-- <p *ngIf="billStatus" class="card-text">Up To Date!</p> -->
                <!-- <p *ngIf="!billStatus" class="card-text">Update Available!</p> -->
                <!-- <p class="card-text"><b>userId:</b> {{bill.userId}}</p>
                <p class="card-text"><b>Unique Id: </b> {{bill.uniqueId}}</p> -->
                
                <!-- Update button should be available only if billStatus is set to false -->
                <div class="button-container">
                    <hr>
                    <button class="btn btn-success" (click)="updateBill(bill.id, bill.lastAction, bill.uniqueId, bill.isUpToDate)">Update Bill</button>
                    <button class="btn btn-info" (click)="checkBillStatus(bill.id, bill.uniqueId, bill.isUpToDate, bill.lastAction)">Check Status</button>
                    <button class="btn btn-danger" (click)="deleteBill(bill.uniqueId, bill.bill_number)">Delete</button>
                    <hr>
                </div>
            </div>
      </div>
    </div>

    <!-- <div class="button-container">
        <button class="btn btn-info" (click)="checkBills()">Check Bills</button>
    </div> -->
</div>

</div><!-- Container ends here -->
<div class="button-container">
    <!-- <button (click)="checkBillData()">Check Data</button> -->
    
</div>

