h2 {
    font-size: 28px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

p.notification {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.request-data-view {
    width: 300px;
    padding: 20px;  
}

.database-data-view {
    width: 300px;
    padding: 20px;
}

div.database-data-view:not(:first-child) {
    padding-top: 98px;
}

div.edit-container > p, button {
    display: inline-block;
    margin-bottom: 0px;
}

button.edit-btn {
    padding-top: 0px;
    margin: 2px;
    color: #91aac3;
}

button.edit-btn:hover {
    color: #2C3E50;
}

div.input-group {
    max-width: 90%;
    margin-top: 6px;
    margin-bottom: 10px;
}

.outdated {
 color: #FF355E;
 font-weight: bold;
}

.uptodate {
color: blue;
}

.updated {
color: green;
}

.notify {
    text-align: center;
}

.notification > a {
    color: #2C3E50;
    font-weight: bold;
}

.notification > a:hover{
    color: #91aac3;
}


/* Bootstrap styles start here */
.card {
    margin-bottom: 20px;
}

.btn {
    margin: 10px;
}

/* Boostrap Media Query Details
Small devices (tablets, 768px and up)

Medium devices (desktops, 992px and up)
Note: Hamburger menu appears below 992px

Large devices (large desktops, 1200px and up)
*/

/* Media Queries Start Here */



