<h2>Current Bill Information</h2>
<p *ngIf="_isLoggedIn">Currently logged in as <b>{{currentUser.name}}</b></p>
<p *ngIf="!_isLoggedIn"><a routerLink="/login">Log in</a> to view tracked legislation</p>

<!-- Doesn't detect if the user has signed out. User other template to figure out how you handled this -->
<div *ngIf="_isLoggedIn" class="bill-view">
    <div *ngFor="let bill of displayedBills$" class="card">
        <h4>{{bill.title}}</h4>
        <p>{{bill.description}}</p>
        <p>{{bill.lastAction}}</p>
        <p><sub>{{bill.userId}}</sub></p>
    </div>
</div>
