<h2>Legislation Search</h2>
<p *ngIf="!_isLoggedIn" class="notification"><a routerLink="/login" routerLinkActive="active">Log in</a> to use additional features!</p>

<form (submit)="findBill(billId)">
    <fieldset>
      <legend >Bill Search</legend>
      <div class="form-group">
          <label for="billId">Search Bill ID: {{billIdNumber}}</label>
          <input #billId type="billId" class="form-control" id="billId" aria-describedby="billId" placeholder="Enter bill ID">
          <small id="emailHelp" class="form-text text-muted">You can find bill IDs through an API query. Try out these sample IDs for a demonstration: 1057177, 1112900, 968893</small>

        </div>
      <button type="submit" class="btn btn-primary search-btn">Search Bill</button>
    </fieldset>
  </form>

  <!-- <input [(ngModel)]="billIdNumber" #ctrl="ngModel">
  <p>{{billIdNumber}}</p> -->

  <div *ngIf="billObject" class="card">

    <div class="card-body">
        <h3>Search Results</h3>
        <h4 class="card-title">{{billObject.bill_number}}</h4>
        <p><b>Bill ID:</b> {{billObject.id}}</p>
        <p><b>State: {{billObject.state}}</b></p>
        <p class="card-text"><b>Description:</b> {{billObject.description}}</p>

        <!-- History should be something that you can expand instead of taking up space since it can have a lot of items -->
        <p class="card-text"><b>Last Action:</b> {{billObject.lastAction.date}} - {{billObject.lastAction.action}}</p>
        <p><b>History</b></p>
        <div *ngFor="let item of billObject.history">
          <p><b>{{item.date}}</b> - {{item.action}}</p>
          <hr>
        </div>
        <p *ngIf="!_isLoggedIn" class="card-text notification"><b><a routerLink="/login" routerLinkActive="active">Log in</a> to track bills like this!</b></p>

      <div *ngIf="_isLoggedIn">
        <form #form (submit)="addBill(select, $event)">
          <div class="form-group">
            <label for="category-select">Select Bill Category</label>
            <select class="form-control" id="category-select" #select>
              <option value="Price Transparency">Rx Price Transparency</option>
              <option value="Non-Medical Switching">Non-Medical Switching</option>
              <option value="Step Therapy">Step Therapy</option>
              <option value="Prior Authorization">Prior Authorization</option>
              <option value="Price Gouging">Price Gouging</option>
            </select>
        </div>
        <button class="btn btn-primary">Add to Collection</button>
        </form>
      </div>
  </div>
</div>