<h2>Legislation Search</h2>
<p *ngIf="!_isLoggedIn" class="notification"><a routerLink="/login" routerLinkActive="active">Log in</a> to use additional features!</p>

<form (submit)="findBill(billId)">
    <fieldset>
      <legend >Bill Search</legend>
      <div class="form-group">
          <label for="billId">Search Bill ID: {{billIdNumber}}</label>
          <input #billId type="billId" class="form-control" id="billId" aria-describedby="billId" placeholder="Enter bill ID">
          <small id="emailHelp" class="form-text text-muted">You can find bill IDs through an API query. Try out these sample IDs for a demonstration: 789, 794, 264</small>

        </div>
      <button type="submit" class="btn btn-primary search-btn">Search Bill</button>
    </fieldset>
  </form>

  <!-- <input [(ngModel)]="billIdNumber" #ctrl="ngModel">
  <p>{{billIdNumber}}</p> -->

  <div *ngIf="billObject" class="card">

    <div class="card-body">
        <h3>Search Results</h3>
        <h4 class="card-title">Bill Number: <a href="{{billObject.leg_url}}" target="_blank">{{billObject.bill_number}}</a> | ID {{billObject.id}}</h4>
        <p class="card-text"><b>Description:</b><br> 
        {{billObject.description}}</p>
        <p><b>State:</b> {{billObject.state}}</p>
        <!-- <p><b>Bill ID:</b> {{billObject.id}}</p> -->
        <!-- History should be something that you can expand instead of taking up space since it can have a lot of items -->
        <p class="card-text"><b>Last Action:</b> {{billObject.lastAction.date}} - {{billObject.lastAction.action}}</p>
        <p><b>History</b></p>
        <div *ngFor="let item of billObject.history">
          <p><b>{{item.date}}</b> - {{item.action}}</p>
          <hr>
        </div>
        <p *ngIf="!_isLoggedIn" class="card-text notification"><b><a routerLink="/login" routerLinkActive="active">Log in</a> to track bills like this!</b></p>
        
        <div *ngIf="_isLoggedIn">
        <form #form (submit)="addBill(category, $event)">
          <div class="form-group">
            <label for="category">Bill Category</label>
            <input #category type="text" class="form-control"> 
        </div>
        <button class="btn btn-primary">Add to Collection</button>
        </form>
      </div>
  </div>
</div>