h2 {
  text-align: center;
  font-size: 28px;
}

p.notification { 
  color: black;
}

p.notification > a {
  font-weight: bold;
  color: #2C3E50
}

p.notification > a:hover {
  text-decoration: none;
  color: #56799c;
}

form {
  margin-top: 20px;
  max-width: 600px;
  margin: 0 auto;
}

fieldset {
  padding: 10px;
}

/* Bootstrap Styles */

.card {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.notification {
  text-align: center;
  color: darkcyan;
}

select {
  max-width: 300px;
}

.search-btn {
  margin-bottom: 20px;
}